.trtd > th {
    text-align: center;
    background-color: #70C3C5;
    color: white;
}

.trtd > td {
    text-align: center;
    vertical-align: middle;
}

#tableWrap {
    width: 100%;
    height: 100%;
}

#tableWrap2 {
    width: 90%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.divBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
}

#toSubsListBtn {
    background-color: #D6C9B5;
}

.completeBtn{
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8px;
    width: 80px;
    margin: 0 10px;
    font-size: 15px;
    padding: 15px;
}