#page {
    width: 100%;
    height: 100%;
}

#boardWrap {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#createBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: end;
}

#tableTh > th {
    background-color: #70C3C5;
    color: white;text-align: center;
}

#tableTd > td {
    text-align: center;
}